@using Business.SQL
@model PagedDataTable<CompanyContactTxnMetadata>
<link href="~/admin/assets/vendors/simple-datatables/style.css" rel="stylesheet" />
<div id="CompanyTable">
    <div class="row">
        <div class="col-sm-12 text-align-right">
            <a onclick="fnAddContact(0)"
               class="btn btn-outline-primary px-5 btn-sm"
               href="javascript:void(0)"
               offcanvas-title="Add Contact"
               data-id="0"
               data-bs-toggle="offcanvas"
               data-bs-target="#canvas_contact"
               aria-controls="canvas_contact">
                Add Contact
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped" id="tblContact" >
            <thead style="position: sticky; top: 0; background-color:#e9ecf8; color:black; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: x-small;">
                <tr>
                    <th>Sr. No.</th>
                    <th>Designation</th>
                    <th>Contact Person</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Department</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SrNo</td>
                            <td>@item.DesignationText</td>
                            <td>@item.PersonName</td>
                            <td>@item.PersonEmail</td>
                            <td>@item.PersonalMobileNo</td>
                            <td>@item.DepartmentName</td>
                            <td>
                                <a class='btn' onclick="fnAddContact(@item.CompanyContactPersonsID)"
                                   href="javascript:void(0)"
                                   data-bs-toggle="offcanvas"
                                   data-bs-target="#canvas_contact"
                                   aria-controls="canvas_contact"
                                   data-id="@item.CompanyContactPersonsID"
                                   compnayid="@item.CompanyID"><i class='bx bx-edit'></i></a>
                            </td>
                        </tr>
                    }}
            </tbody>
        </table>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="canvas_contact" aria-labelledby="offcanvascontactLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvascontactLabel">Contact</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-3 pb-5">
        <div id="dvContactInfo">
        </div>
    </div>
</div>

@*<script src="~/admin/assets/vendors/simple-datatables/simple-datatables.js"></script>*@
<script>
    //var urlDeleteCompanyFromUser = '@Url.Action("DeleteContact", "Company")';
    var urlAddContact = '@Url.Action("AddContact", "Company")';
    function fnAddContact(id) {
        var _id = id; //$(this).data('id');
        var _cid = $("#CompanyID").val();
        var _parameters = { id: _id, compnayid: _cid };
        $.ajax({
            url: urlAddContact,
            type: "GET",
            data: _parameters,
            success: function(data, textStatus, jqXHR) {
                $('#dvContactInfo').html(data);
                $("#canvas_contact").show();//('hide');
            }
        });
    }
</script>
