@model List<Business.Entities.ProductPhotoPath.ProductPhotoPath>
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Our Product Images";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body">
                    <div class="row ProductImageUpload">
                        <div class="ps-3 col-md-6">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 p-0">
                                    <li class="breadcrumb-item">
                                        <a asp-area="Admin" asp-controller="OurProduct" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Our Product</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 text-align-right">
                            
                            @{                                
                                string CollectionID = @HttpContextAccessor.HttpContext.Session.GetString("ItemCollectionID");
                            }
                            
                            @if (!string.IsNullOrEmpty(CollectionID))
                            {
                                
                                <a asp-area="Admin" asp-controller="OurProduct" asp-action="GoForRFQCard" asp-route-CollectionID="@CollectionID" class="btn btn-primary">Go For RFQ Card</a>
                            }

                           
                        </div>

                    </div>

                    <hr />
                    <div class="lightbox">
                        <div class="row pt-1">
                            <div class="col-md-12">
                                @*<grid model="@Model"/>*@
                                
                                <div class="row" id="imagesLoop">
                                    @foreach (var items in Model)
                                    {
                                        var productImageText = @items.ProductImageText.Replace(".jpeg", "").Replace(".jpg", "").Replace(".png", "");
                                        <div class="col-sl-12 col-md-4 col-lg-4 col-xl-4 my-2">
                                            <div class="card">
                                                <a href="#" class="pop">
                                                    <img id="img01" src="@Html.DisplayFor(modelItem => items.ImagePath)" class="card-img-top rounded-circle mx-auto d-block border border-dark mt-3" alt="Wire Images" style="width:180px; height:180px;">
                                                </a>
                                                <div class="card-body text-center">
                                                    <h5>@productImageText</h5>


                                                    

                                                    
                                                    <a onclick="openImages(@items.ProductImageID)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn">
                                                        <iconify-icon icon="bi:images" style="font-size: 20px;" title="Images"></iconify-icon>
                                                    </a>&emsp;
                                                    

                                                    <a class="btn" onclick="fnOurProductImageMoreDetail(@items.ProductImageID)"
                                                   href="javascript:void(0)"
                                                   data-key="0"
                                                   data-bs-toggle="offcanvas"
                                                   data-bs-target="#canvas_OurProductImageMoreDetail"
                                                   aria-controls="canvas_OurProductImageMoreDetail">
                                                        <iconify-icon icon="icon-park-solid:view-grid-detail" style="font-size: 20px;" title="More Detail"></iconify-icon>
                                                    </a>
                                                    &emsp;
                                                    

                                                    <a class="btn" onclick="fnOurProductImage(@items.ProductImageID)"
                                                   href="javascript:void(0)"
                                                   data-key="0"
                                                   data-bs-toggle="offcanvas"
                                                   data-bs-target="#canvas_OurProductImage"
                                                   aria-controls="canvas_OurProductImage">
                                                        <iconify-icon icon="uil:file-info-alt" style="font-size: 20px;" title="Add to RFQ Cart"></iconify-icon>
                                                    </a>


                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="canvas_OurProductImage">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="canvasHeaderPackage">Add Product</h5>
        <button type="button" class="btn-close te  xt-reset" data-bs-dismiss="offcanvas" aria-l abel="Close"></button>
    </div>
    <div class="offcanvas-body pt-3 pb-5">
        <div id="dvInfo">
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="canvas_OurProductImageMoreDetail">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="canvasHeaderPackage">Product Detail</h5>
        <button type="button" class="btn-close te  xt-reset" data-bs-dismiss="offcanvas" aria-l abel="Close"></button>
    </div>
    <div class="offcanvas-body pt-3 pb-5">
        <div id="dvInfoMD">
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">productImageText</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            @*<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>*@
        </div>
    </div>
</div>


<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">



    $(function () {
        $('.pop').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
    });

    function openImages(ProductImageID) {
        var _id = ProductImageID;        
    }

    var urladd = '@Url.Action("Get", "OurProduct")';
    var urlGoForRFQ = '@Url.Action("GoForRFQCard", "OurProduct")';
    function fnOurProductImage(id) {
        // alert(_itemName);
        //var _key = $(obj).data('key');
        var _id = id;
        var _parameters = { id: _id };//, itemName: _itemName
        //if (obj > 0)
        //    document.getElementById("canvasHeaderPackage").innerHTML = "Add Product";
        //else
        //    document.getElementById("canvasHeaderPackage").innerHTML = "Update Product";
        $.ajax({
            url: urladd,
            type: "GET",
            data: _parameters,
            success: function (data, textStatus, jqXHR) {
                $('#dvInfo').html(data);
                $("#canvas_OurProductImage").show();//('hide');
            }
        });
    }

    function fnGoForRFQCard(collectionID) {
        // alert(_itemName);
        //var _key = $(obj).data('key');
        var _parameters = { collactionId: collectionID };//, itemName: _itemName
        //if (obj > 0)
        //    document.getElementById("canvasHeaderPackage").innerHTML = "Add Product";
        //else
        //    document.getElementById("canvasHeaderPackage").innerHTML = "Update Product";
        $.ajax({
            url: urlGoForRFQ,
            type: "GET",
            data: _parameters,
            success: function (data, textStatus, jqXHR) {
                //$('#dvInfo').html(data);
                //$("#canvas_OurProductImage").show();//('hide');
            }
        });
    }

    function fnOurProductImageMoreDetail(id) {
        // alert(_itemName);
        //var _key = $(obj).data('key');
        var _id = id;
        var _parameters = { id: _id };//, itemName: _itemName
        if (obj > 0)
            document.getElementById("canvasHeaderPackage").innerHTML = "If Product Detail";
        else
            document.getElementById("canvasHeaderPackage").innerHTML = "Else Product Detail";
        $.ajax({
            url: urladd,
            type: "GET",
            data: _parameters,
            success: function (data, textStatus, jqXHR) {
                $('#dvInfoMD').html(data);
                $("#canvas_OurProductImageMoreDetail").show();//('hide');
            }
        });
    }

    $(function () {
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    });

                //function fnOurProductImage(productImageText) {
                //    debugger;
                //    var _id = productImageText;//$(this).data('id');
                //    var _customerId = $("#ProductImageID").val();
                //    debugger;
                //    if (_id > 0) {
                //        document.getElementById("canvasHeaderPackage").innerHTML = "Update Customer Contact Person";
                //    }
                //    else {
                //        document.getElementById("canvasHeaderPackage").innerHTML = "Add Customer Contact Person";
                //    }
                //    var _parameters = { customerContactID: _id, customerId: _customerId };
                //    $.ajax({
                //        url: urladd,
                //        type: "GET",
                //        data: _parameters,
                //        success: function (data, textStatus, jqXHR) {
                //            $("#canvas_OurProductImage").show();//('hide');
                //            $('#dvInfo').html(data);
                //        }
                //    });
                //}


</script>
