@using System.Data;
@using System.Collections.Generic;
@model DataSet;
@{
    ViewData["Title"] = "Employee Attendance Summury Report";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@{
    List<string> strTimeforRow = new List<string>();
}
<head>
    <link href="~/admin/assets/vendors/typehead/jquery.typeahead.min.css" rel="stylesheet" />
    <script src="~/admin/assets/vendors/typehead/jquery.typeahead.min.js"></script>

    @*   <script>
    $(function () {
    'use strict';
    var map = {};
    $(".bs-autocomplete").typeahead({
    minLength: 3,
    source: function (request, response) {
    $.ajax({
    url: '@Url.Action("GetEmployees","ReportsHR")',
    data: { 'empString': request },
    type: "GET",
    contentType: "json",
    success: function (employeeresult) {
    var items = [];
    map = {};
    $.each(employeeresult, function (i, item) {
    var id = item.val;
    var name = item.label;
    map[name] = {
    id: id,
    name: name
    };
    items.push(name);
    });
    response(items);
    alert(response(items));
    },
    error: function (response) {
    alert(response.responseText);
    },
    failure: function (response) {
    }
    });
    },
    updater: function (item) {

    //If simultaneously want to update value somewhere else $("#update").val(map[item].id); return item;
    $("#employeeText").val(map[item].val);
    //console.log('updater', map[item].zcode);
    return item;
    }
    });
    });
    </script>*@
</head>
<div class="container" id="employeePresent">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body">

                    <div class="row">
                        <div class="ps-3 col-md-6">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 p-0">
                                    <li class="breadcrumb-item active" aria-current="page">Employee Attendance</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                    <hr />
                    <div class="row mb-1">
                        <label class="col-3 col-form-label">Employee Category</label>
                        <div class="col-3">
                            <select class="form-control" id="EmployeeCategoryID" name="EmployeeCategoryID" asp-items="@EmployeeExtension.GetAllEmployeeCategoryMaster()">
                                <option value="">Select Category</option>
                            </select>
                        </div>
                        <label class="col-3 col-form-label">Select Month & Year</label>
                        <div class="col-3">
                            <input type="month" class="form-control" id="month">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <label class="col-sm-3 col-form-label">Search Text</label>
                        <div class="col-sm-3" id="idForDropdown">
                            <input type="hidden" id="EmployeeID" class="form-control" />
                            <input type="text" class="form-control bs-autocomplete" id="employeeText" name="EmployeeName" placeholder="Enter Searching text.">
                            <!--    Important code block.
                            <div class="container text-center">
                                <input class="form-control" id="EmployeeID" oninput="fnFindEmployee()" list="employeeList" />
                                <datalist id="employeeList"></datalist>
                            </div>
                            -->
                            @* <input type="text" class="form-control" id="EmployeeID" name="EmployeeID" value="Search Employee Here">*@
                        </div>
                        <label class="col-3 col-form-label">Department</label>
                        <div class="col-3">
                            <select class="form-control" id="DepartmentID" name="DepartmentID" asp-items="@EmployeeExtension.GetAllDepartmentText()">
                                <option value="">Select Department</option>
                            </select>
                        </div>
                    </div>

                    <div class="text-end mb-3">
                        <button id="btnSearchEmployeePresent" type="button" onclick="fnSearch()" class="btn btn-outline-primary px-5 btn-sm">Search</button>
                    </div>

                    <div id="EmployeeAddessTable">
                        <div class="row" style="overflow:auto; height:350px; width:100%;">
                            <table class="table table-striped" style="font-size:small;">
                                <!--style="display:block; overflow: auto; white-space: nowrap;"-->
                                <thead style="position: sticky; top: 0; background-color:darkslategrey; color:papayawhip; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: x-small;">
                                    <tr>
                                        @foreach (DataColumn dataColumn in Model.Tables[0].Columns)
                                        {
                                            strTimeforRow.Add(dataColumn.ToString());
                                            <th>@dataColumn.ToString()</th>
                                        }
                                    </tr>
                                </thead>
                                @foreach (DataRow row in Model.Tables[0].Rows)
                                {
                                    <tr>
                                        @foreach (string timeRow in strTimeforRow)
                                        {
                                            @if (!string.IsNullOrEmpty(row[timeRow].ToString()))
                                            {
                                                <td>@row[timeRow]</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    function fnSearch() {
        alert('fnSearch');

        //var datalistItem = $("#employeeList").val();
        //var datalistItem = document.getElementById('employeeList').childNodes[0];
        //const input = document.getElementById("EmployeeID");
        //const datalist = document.getElementById("employeeList");
        //const options = datalist.options;
        //debugger;
        //input.addEventListener("change", function () {
        //    const value = input.value;
        //    debugger;
        //    for (let i = 0; i < options.length; i++) {
        //        debugger;
        //        if (options[i].value === value) {
        //            console.log("Selected option value:", options[i].value);
        //            break;
        //        }
        //    }
        //});
        //var selectedEmployee = datalistItem.childNodes[0].nodeValue.toString();
        //var selectedEmployee = datalistItem.option[datalistItem.nodeValue].value;
        //debugger;
        //alert('you select :' + selectedEmployee);

        var employeeCategoryId = $('#EmployeeCategoryID').val();
        var monthDate = $('#month').val();
        var employeeId = $('#employeeText').val();
        alert('id is  ' + employeeId);
        //const dateString = "2023-03-16";
        const year = monthDate.slice(0, 4); // "2023"
        const month = monthDate.slice(5, 7);
        //alert('employeeCategoryId' + employeeCategoryId);
        //alert('monthDate' + monthDate);
        //alert('employeeId' + employeeId);
        var url = '@Url.Action("GetEmployeeAttendanceSummary","ReportsHR")';
        //employeeCategoryId = 0, int employeeId = 0, int month = 3, int year
        var newurl = url + '?employeeCategoryId=' + employeeCategoryId + '&employeeId=' + employeeId + '&month=' + month + '&year=' + year;
        window.location.href = newurl;
    };
</script>


<!--
@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="htts://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="htts://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="htts://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $("#EmployeeName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Reports/GetEmployeeslist/',
                        data: { "EmpString": request.term },
                        type: "POST",
                        success: function (data) {
                            console.table(data);
                            if (data != false) {
                                response($.map(data, function (item) {
                                    return item;
                                }))
                            }
                        },
                        error: function (response) {
                            console.log("Error: " + response.responseText);
                        },
                        failure: function (response) {
                            console.log("Error: " + response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#EmployeeID").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}*@
-->
