@using Business.Entities.HRReports;
@using System.Data;
@*@model EmployeeDetailSearch*@
@model DataSet;

@{
    ViewData["Title"] = "Employee Detail Summary";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
@{
    List<string> strTimeforRow = new List<string>();
    int empCatId = ViewBag.EmployeeCategoryID;
    int deptId = ViewBag.DepartmentID;
}
<div class="container" id="employeeDetailSummary">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body">

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="page-breadcrumb align-items-center">
                            <div class="p-2">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0 p-0">
                                        <li class="breadcrumb-item">
                                            <a asp-area="HR" asp-controller="ReportsHR" asp-action="GetEmployeeDetailSummary"><i class="bx bx-home-alt"></i></a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Employee List</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row pt-1">
                        <div class="col-md-12">
                            <div class="row">
                                @*<form id="formEmployeeDetail">*@
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Employee Category</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="EmployeeCategoryID" name="EmployeeCategoryID" asp-items="@EmployeeExtension.GetAllEmployeeCategoryMaster()" asp-for="@empCatId">
                                            <option value="">Select Category</option>
                                        </select>
                                    </div>

                                    <label class="col-sm-3 col-form-label">Search Keyword</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" id="EmployeeName" placeholder="Search by Employee detail." value="@ViewBag.SearchString">
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Department</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" asp-for="@deptId" id="DepartmentID" name="DepartmentID" asp-items="@EmployeeExtension.GetAllDepartmentText()">
                                            <option value="">Select Department</option>
                                        </select>
                                    </div>

                                    <div class="text-end mb-3">

                                        <button id="btnExportEmployeeDetail" type="button" onclick="fnSearchEmployeeDetail(true)" class="btn btn-outline-primary px-5 btn-sm">Export to Excel</button>

                                        <button id="btnSearchEmployeeDetail" type="button" onclick="fnSearchEmployeeDetail(false)" class="btn btn-outline-primary px-5 btn-sm">Search</button>
                                    </div>
                                </div>

                                @*</form>*@
                            </div>

                        </div>
                    </div>

                    <div id="EmployeeSummaryTable">
                        @if (Model.Tables[0].Rows.Count > 0)
                        {
                            <div class="row" style="overflow:auto; height:auto; width:100%;">
                                <table class="table table-striped w-auto" style="white-space: nowrap; font-size:inherit !important;">
                                    <!--style="display:block; overflow: auto; white-space: nowrap;"-->
                                    <thead style="position: sticky; top: 0; background-color:#e9ecf8; color:black; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                        <tr>
                                            @foreach (DataColumn dataColumn in Model.Tables[0].Columns)
                                            {
                                                strTimeforRow.Add(dataColumn.ToString());
                                                <th>@dataColumn.ToString()</th>
                                            }
                                        </tr>
                                    </thead>
                                    @foreach (DataRow row in Model.Tables[0].Rows)
                                    {
                                        <tr>
                                            @foreach (string timeRow in strTimeforRow)
                                            {
                                                @if (!string.IsNullOrEmpty(row[timeRow].ToString()))
                                                {
                                                    <td>@row[timeRow]</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <h1><iconify-icon icon="mdi:text-box-remove-outline" style="color: #37569d;" width="100"></iconify-icon></h1>
                                <h3 style="color: red;">No Data Found</h3>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    function fnSearchEmployeeDetail(obj) {

        var employeeCategoryId = $('#EmployeeCategoryID').val();

        var departmentId = $('#DepartmentID').val();

        var employeeId = $('#EmployeeName').val();

        var empurl = '@Url.Action("GetEmployeeDetailSummary","ReportsHR")';

        var isdownload = obj;

        var empDetailUrl = empurl + '?employeeCategoryId=' + employeeCategoryId + '&departmentId=' + departmentId + '&searchstring=' + employeeId + '&isDownload=' + isdownload;

        window.location.href = empDetailUrl;
    };
</script>
